{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {# <div class="formregistration">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div> #}

    <div class="container mt-3">
        {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.email, 'Email') }}
                {% if form_errors(registrationForm.email) == null %}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                {% else %}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control is-invalid'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.nom, 'Nom') }}
                {% if form_errors(registrationForm.nom) == null %}
                    {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                {% else %}
                    {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control is-invalid'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.nom) }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.prenom, 'Prénom') }}
                {% if form_errors(registrationForm.prenom) == null %}
                    {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                {% else %}
                    {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control is-invalid'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.prenom) }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {% if form_errors(registrationForm.plainPassword) == null %}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                {% else %}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control is-invalid'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                {% endif %}
            </div>
            <div>
                <button type="submit" class="btn mt-3 mb-3" style="background-color:lightgrey;">S'enregistrer</button>
            </div>
        {{form_end(registrationForm)}}
    </div>
{% endblock %}
