<div class="liennav">
  <ul class="pad2">
    <li>
      <a class="btn" href={{ asset(path('app_home'))}}>Accueil</a>
    </li>
    <li >
      <a class="btn" href={{ asset(path('app_apropos'))}}>A propos</a>
    </li>
    <li >
      <a class="btn" href={{ asset(path('app_projet'))}}>Projets</a>
    </li>
    
      {% if app.user %}
        <li >
          <a href={{ asset(path('app_logout'))}} class="btn" onclick="return confirm('Voulez vous vraiment vous déconnecter ?')">Déconnexion</a>
        </li>
        <li >
          <a href={{ asset(path('app_contact'))}} class="btn">Contact</a>
        </li>
        <li >
          <a class="btn" style="background-color:rgb(117, 154, 130); color:white;" href={{ asset(path('app_mon_espace'))}}>Votre espace</a>
        </li>
      {% else %}
        <li class="">
          <a class="btn" href={{ path ("app_register")}}>S'enregistrer</a>
        </li>
        <li class="">
          <a class="btn" href={{ asset(path('app_login'))}}>Se connecter</a>
        </li>
      {% endif %}
    </li>
  </ul>
</div>
