{% extends 'base.html.twig' %}
{% block title %}Projets{% endblock %}

{% block body %}


<style>
    .container 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item 
    {
        display: flex;
        flex-direction: row;
        text-align: right;
        align-items: center;
    }

    .item:nth-child(even) 
    {
        text-align: left;
        flex-direction: row-reverse;
    }
    .photoprojet
    {
        display: flex;
        flex-direction: column;
        margin-left:2%;
    }
    .projetcard
    {
        margin-left:2%;
    }
    .button
    {
        background-color: #403F3F; 
        color:white;
        border-radius:20px;
        width:90%;
        text-align: center;
    }
    .categorie
    {
        text-align: center;
        font-size: 5vh;
        background-color: #4c4a4a;
        width:70%;
        margin-left:15%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-bottom: 3%;
        border-radius:20px;
        
    }
    .icones
    {
        background-color: rgb(150, 147, 147);
        width: 80%;
        margin-left:10%;
        border-radius:20px;
        display: flex;
        justify-content: space-around;
    }
</style>

<div class="footer justify-content-center">
    <h1 style="font-size:10vh; color:white;">Mes dernières réalisations...</h1>
</div>
<div class="container">

    {% for item in projet3 %}
        <div class="item">
            <div class="projetcard">
                <h5>
                    <a href={{ path('show_projet', { id: item.id }) }}><u>{{ item.nom|upper }}</u></a>
                </h5>
                <h6>Rangement pour : {{ item.categorie.name }}</h6>
                <p style="text-align: justify;">{{ item.description }}</p>
                <p>{{ item.dateCreation|date('Y-m-d') }}</p>
            </div>
            <div class="photoprojet">
                <a href={{ path('show_projet', { id: item.id }) }}>
                    <img src={{ asset('assets/images/' ~ item.photo) }} alt="item"  width="240em" style="border-radius:20px;">
                </a>
            </div>
        </div> 
    {% endfor %}

        <div class="categorie text-white">
            Choisissez une catégorie
            <div class="icones text-dark">
                {% for item in categories %}
                    <a href={{ path('app_projetFiltered', {categorie_id: item.id})}}>
                        <i class="bi {{ item.icone }}" ></i>
                    </a>
                {% endfor %}
            </div>
        </div>

    {% for item in projets %}
        <div class="item">
            <div class="projetcard">
                <h5>
                    <a href={{ path('show_projet', { id: item.id }) }}><u>{{ item.nom|upper }}</u></a>
                </h5>
                <h6>Rangement pour : {{ item.categorie.name }}</h6>
                <p>{{ item.description }}</p>
                <p>Date de création : {{ item.dateCreation|date('Y-m-d') }}</p>
            </div>
            <div class="photoprojet">
                <a href={{ path('show_projet', { id: item.id }) }}>
                    <img src={{ asset('assets/images/' ~ item.photo) }} alt="ImageProjet" width="240em" style="border-radius:20px;">
                </a>
            </div>
        </div> 
    {% endfor %}

    
</div> 

{% endblock %}







