{% extends 'base.html.twig' %}


{% block title %}
	{{ oneProjet.nom }}
{% endblock %}

{% block body %}

	<style>
		.presentationprojet
		{
			display: flex;
			flex-direction: row;
		}
		.photo
		{
			border-radius: 10px;
			transition-duration:1s;
		}
		.photo:hover
		{
			background-color: white;
		}
		.presentationliste
		{
			display: flex;
			flex-direction: column;
		}
		.presentationbouton
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-bottom: 5%;
			justify-content: space-around;
			margin-left:3%;
		}
		.photoavis
		{
			display: flex;
			
		}
		

		.aur
		{
			margin-left:4%;
			margin-top:5%;
		}

		.image-container {
  position: relative;
  display: inline-block;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover::after {
  opacity: 1;
}

	</style>

	<div class="container">
		<hr>
		<h1 class=" titreprojet" >{{ oneProjet.nom }}</h1>
		<hr>
		<br>
		<div class="presentationprojet">
				<img src={{ asset('assets/images/' ~ oneProjet.photo) }} alt="item"  width="60%" style="border-radius:20px; text-align: center;" index="0">
				<div class="presentationliste">
					<p class="fs-4 text-white">
						<ul>
							<li>Nom : {{ oneProjet.nom}}</li>
							<li>Rangement : {{ oneProjet.categorie.name}}</li>
							<li>Description : {{ oneProjet.description }}</li>
							<li>Mise en ligne : {{ oneProjet.dateCreation|date('Y-m-d') }}</li>
						</ul>
					</p>	
					{% if app.user %}
						<div class="presentationbouton">
							<a class="btn" style="background-color:rgb(117, 154, 130); color:white;" href={{ asset(path('app_contact'))}}>Commander</a>
							<a class="btn" style="background-color:rgb(117, 154, 130); color:white;" id="avis">Laisser un avis</a>
						</div>
					{% endif %}
					
				</div>
		</div>
		<br>
		<div class="photoavis">
			<img src={{ asset('assets/images/' ~ oneProjet.photo) }} alt="item"  width="19.6%" class="photo" index="2" style='margin-right:0.5%;'onclick="replaceImage(this)">
			<img src={{ asset('assets/images/' ~ oneProjet.photo2) }} alt="item"  width="19.6%" class="photo" index="2" style='margin-right:0.5%;'onclick="replaceImage(this)">
			<img src={{ asset('assets/images/' ~ oneProjet.photo3) }} alt="item"  width="19.6%" class="photo" index="3" style='margin-right:0.5%;' onclick="replaceImage(this)">
			<img src={{ asset('assets/images/' ~ oneProjet.photo4) }} alt="item"  width="19.6%" class="photo" index="4"onclick="replaceImage(this)">
			
			{% block javascript %}
				<script>
					function replaceImage(element) {
						var index = element.getAttribute("index");
						var mainImage = document.querySelector(".presentationprojet img");
						var mainImageSrc = mainImage.getAttribute("src");
						var clickedImageSrc = element.getAttribute("src");

      					mainImage.setAttribute("src", clickedImageSrc);
      					element.setAttribute("src", mainImageSrc);
    				}
					$(document).ready(function() {
						$(".aur").hide();
						$("#avis").on("click",function(){
							$(".aur").show(1000);
						});
						$("#envoyer").on("click",function(){
							$(".aur").hide(1000);
						});	
					});
				</script>
			{% endblock %}
		</div>
		<hr>
		<form class="aur">
			<textarea class="messageavis" id="message" placeholder= "Votre message" rows="5" cols="80" required></textarea>
			<div style="text-align : right">
				<a class="btn" style="background-color:rgb(117, 154, 130); color:white;" id="envoyer" onclick="return confirm('Votre avis a bien été envoyé')">Envoyer</a>
			</div>
		</form>
		<br>
			<a class="btn" href={{ path('app_projet') }} style="background-color:rgb(117, 154, 130); color:white;margin-bottom:2%;">Revenir à tous les projets</a>
	</div>
	

		




{% endblock %}